:root {
  /* color */
  --biru: #0e1555;
  --kuning: #ffd717;
  --abu-abu: #d6d6d6;
  --putih: #ffffff;
}

/* navbar */
.navbar .navbar-brand {
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
  font-size: 25px;
}
.navbar .nav-link {
  margin-right: 10px;
  color: var(--putih);
  font-size: 17px;
  font-family: "Merriweather", serif;
}

/* jumbotron */
.jumbotron {
  padding-top: 7rem;
  background-color: var(--abu-abu);
}
.jumbotron h1 {
  color: var(--biru);
  font-size: 4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  text-shadow: 10px 10px 10px rgba(0, 0, #0e1555, 0.5);
}
.jumbotron p {
  color: #5e5e5e;
  font-size: 20px;
  font-weight: 600;
}

/* about */
.about {
  margin-top: -50px;
  padding-top: 14rem;
}

.about h2,
.projects h2,
.gallery h2,
.contact h2 {
  font-family: "Merriweather", serif;
}

.about svg {
  padding-top: 12rem;
}

/* projects */
.projects {
  background-color: var(--abu-abu);
  margin-top: -100px;
  padding-top: 10rem;
}

/* gellery */
.gallery {
  padding-top: 100px;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}

/* contact */
.contact {
  padding-top: 8rem;
}
.alert {
  color: #0e1555;
  background-color: #cfcfcf;
  border: 1px solid #0e1555;
}

form input {
  border: 1px solid #0e1555;
}

.contact .btn-kirim,
.contact .btn-loading {
  background-color: var(--biru);
  color: var(--putih);
}
.contact .btn-kirim,
.contact .btn-loading:hover {
  background-color: var(--biru);
  color: var(--putih);
}

/* footer */
footer {
  background-color: var(--biru);
  color: var(--putih);
}
footer a {
  text-decoration: none;
}
